.register {
    padding: 15px;
  }
  
  .register2 {
    padding: 15px;
    max-width: 50%;
  }
  
  .register3 {
    padding: 15px 90px;
    cursor: pointer;
  }
  
  .register-btn {
    margin: 30px 0;
}
  