.header {
    display: flex;
    justify-items: space-between;
    gap: 185px;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 2px solid #ccc;
  
    .logo img {
      max-width: 120px;
      height: auto;
    }
  
    .search-bar {
      position: relative;
      display: flex;
      justify-content: flex-start;
      width: 100%;
      align-items: center;
  
      .search-container {
        position: relative;
        flex: 1;
  
        input[type="text"] {
          width: 95%;
          padding: 10px;
          padding-right: 40px;
          border: 1px solid #ccc;
        }
  
        .search-icon {
          position: absolute;
          right: 30px;
          top: 50%;
          transform: translateY(-50%);
          width: 20px;
          height: auto;
          pointer-events: none;
        }
      }
  
      .cart {
        margin-left: 20px;
        padding: 10px 20px;
        cursor: pointer;
      }
    }
  }
  