.products {
    width: 80%;
  
    .products-table {
      width: 94%;
      text-align: center;
      border-collapse: separate;
      border-spacing: 25px 15px;
  
      .product-item {
        padding: 0;
        border: 2px solid #ccc;
        margin-bottom: 15px;
        text-align: center;
  
        .image-placeholder {
          width: 250px;
          height: 200px;
          object-fit: cover;
          box-shadow: 6px 0px 8px rgba(0, 0, 0, 0.3);
        }
  
        .product-info {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-left: 15px;
          height: 120px;
  
          .product-name {
            font-weight: bold;
            font-size: 17px;
            display: flex;
            justify-content: left;
          }
  
          .product-price {
            font-size: 14px;
            display: flex;
            justify-content: left;
          }
        }
      }
    }
  }
  