.sidebar {
    width: 15%;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid #ccc;
    margin-right: 20px;
    margin-top: 14px;
  
    ul {
      list-style: none;
      padding: 0;
  
      li {
        padding: 10px 0;
        cursor: pointer;
      }
    }
  }
  