.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  
    img {
      max-width: 120px;
      height: auto;
    }
  }
  
  .register {
    align-self: center;
    padding: 15px;
  }
  