@media (max-width: 780px) {
    .header {
      flex-direction: column;
      padding: 15px;
  
      .logo img {
        max-width: 100px;
      }
  
      .register {
        margin-top: 10px;
        padding: 10px 20px;
      }
    }
  
    .main-content {
      flex-direction: column;
      padding: 10px;
  
      .text-content {
        max-width: 100%;
        text-align: center;
        padding: 10px;
      }
  
      .image-container {
        max-width: 100%;
  
        img {
          height: auto;
        }
      }
    }
  
    .columns {
      height: auto;
      padding: 10px;
    }
  
    .content {
      flex-direction: column;
      width: 100%;
      align-items: center;
      height: auto;
  
      .column {
        max-width: 90%;
        margin: 10px 0;
      }
    }
  
    .footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      height: auto;
  
      .links {
        width: 100%;
        flex-direction: column;
        align-items: center;
      }
    }
  }
  
  @media (min-width: 1921px) {
    .main-content {
      justify-content: space-evenly;
      padding: 60px;
    }
  
    .text-content {
      max-width: 40%;
      padding: 60px;
    }
  
    .columns {
      height: 90vh;
      padding: 40px;
    }
  }
  