.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid #ccc;
  }
  
  .logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  .logo img {
    max-width: 120px;
    height: auto;
  }
  