.search-bar {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .search-bar img {
    position: absolute;
    right: 10px;
    width: 25px;
    height: auto;
    cursor: pointer;
  }
  
  .search-bar input {
    width: 100%;
    padding: 10px;
    padding-right: 40px;
    font-size: 16px;
  }